<!DOCTYPE html>
<html>
<head>
<script src="https://fb.me/react-0.12.0.js"></script>
<script src="https://fb.me/JSXTransformer-0.12.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var groups = {{ groups }};

var events = {{ events }};


var EventsForGroup = React.createClass({
  render: function() {
  
    var evList = [];
    for (var i = 0; i < this.props.events.length; i++) {
      var ev = this.props.events[i];
      var evEl = <li>{ev.name}  ({ev.attendees})</li>;
      evList.push(evEl);
    }
    return 
      <div className="groupDiv">
        <span className="groupName">
          <a href="https://www.meetup.com/{this.props.group.url}/">{this.props.group.url}</a>
        </span>
        <br/><br/>
        <ul>{evList}</ul>
      </div>;

  }
});


var MeetupGroupsAndEvents = React.createClass({
  
  render: function() {

    var groupList = [];
    for (var i = 0; i < this.props.groups.length; i++) {
      var currGroup = this.props.groups[i];
      var currId = currGroup.id;
   
      // filter for events for the current group   
      var eventsForGroup = [];
      for (var j = 0; j < this.props.events.length; j++) {
        if (this.props.events[j].groupId === currId) {
          eventsForGroup.push(this.props.events[j]);
        }
      }

      groupList.push(<EventsForGroup group={currGroup} events={eventsForGroup}/>);

    }
    return <div>{groupList}</div>;
  }
});


React.renderComponent(
  <MeetupGroupsAndEvents groups={groups} events={events} />,
  document.getElementById("groupsDiv"));
</script>
</head>
<body>

<h2>Events</h2>
<h2>Groups</h2>
<div id="groupsDiv"></div>
<h2>Add Meetup Groups</h2>
<form action="followGroups" method="POST">
  <ul>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
  </ul>
  {% csrf_token %}
  <input type="Submit" value="Submit"/>
</form>

</body>
</html>

