<!DOCTYPE html>
<html>
<head>
<style>
.groupDiv ul {
    padding-top: 10px;
    margin-top: 0px;
}
groupDiv .groupName {
    font-size: 18px;
    font-weight: bold;
}

li.nextTwoWeeks {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

span.dayHeader {
  font-weight: bold;
  font-size: 28px;
}

</style>
{% load static %}
<script src="{% static 'date.js'%}"></script>
<script src="https://fb.me/react-0.12.0.js"></script>
<script src="https://fb.me/JSXTransformer-0.12.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var groups = {{ groups }};

var events = {{ events }};

function getName(group) {
  if (group.name && group.name !== '') {
    return group.name;
  }
  return group.url;
}

var EventsForGroup = React.createClass({
  render: function() {
  
    var evList = [];
    for (var i = 0; i < this.props.events.length; i++) {
      var ev = this.props.events[i];
      var evEl = <EventElement event={ev} dateFormat="ddd MMM d, yyyy htt"/>;
      evList.push(evEl);
    }
    var ulEl = '';
    if (evList.length > 0) {
      ulEl = <ul>{evList}</ul>;
    }
    var grName = getName(this.props.group);
    return (<div className="groupDiv">
        <span className="groupName">
          <a href={"https://www.meetup.com/" + this.props.group.url + "/"}>{grName}</a>
        </span>
        <br/>
        {ulEl}
      </div>);

  }
});

/**
 * Element to render a single event in an li.
 */
var EventElement = React.createClass({
  render: function() {
    var ev = this.props.event;
    var city = "";
    if (ev.city && ev.city != null) {
      city = " in " + ev.city;
    }
    var evDate = "";
    var dateDiff = 200;
    var day = -1;
    var hour = -1;
    if (ev.time && ev.time != null) {
      evDate = (new Date(Number(ev.time))).toString(this.props.dateFormat);
      var tDiff = (new Date(Number(ev.time))).getTime() - (new Date()).getTime();
      dateDiff = tDiff / (1000  * 60 * 60 * 24);
      day = (new Date(Number(ev.time))).getDay();
      hour = (new Date(Number(ev.time))).getHours();
    }
    var fontSize = 16;
    var evLiClass = "normal";
    if (dateDiff > -1 && dateDiff < 14) {
      evLiClass = "nextTwoWeeks";
    }
    if (dateDiff > 0 && dateDiff < 8) {
      evLiClass += " nextWeek ";
    }
    if (dateDiff > 20) {
      evLiClass += " beyond";
      fontSize -= 4;
    }
    if (ev.attendees < 5) {
      fontSize -= 4;
    }
    if (ev.attendees > 15) {
      fontSize += 5;
    }

    if (day >= 1 && day <= 5 && hour > 0 && hour < 17) {
      fontSize -= 5;
    }
    var groupNameLink = null;
    if (this.props.includeGroup) {
      var name = getName(this.props.group);
      groupNameLink = 
          <a className="group" href={"https://www.meetup.com/" + this.props.group.url + "/"}>{name}</a>
    }
    var liStyle = { fontSize: fontSize + "px"};
    var evEl = <li className={evLiClass} style={liStyle}>{ev.name}  (<span className="numAttend">{ev.attendees}</span>)  <span className="city">{city}</span>  <span className="evDate">{evDate}</span>  {groupNameLink}</li>;
    return evEl;
  }
});

var MeetupGroupsAndEvents = React.createClass({
  
  render: function() {

    var groupList = [];

    var allGroupsSorted = this.sortGroups();
    for (var i = 0; i < allGroupsSorted.length; i++) {
      var currGroup = allGroupsSorted[i];
      var currId = currGroup.id;
   
      // filter for events for the current group   
      var eventsForGroup = [];
      for (var j = 0; j < this.props.events.length; j++) {
        if (this.props.events[j].groupId === currId) {
          eventsForGroup.push(this.props.events[j]);
        }
      }

      groupList.push(<EventsForGroup group={currGroup} events={eventsForGroup}/>);

    }
    return <div>{groupList}</div>;
  },

  sortGroups: function() {
    var sorted = [];
    this.props.groups.forEach(function(el) {
      sorted.push(el);
    });

   // compute the score for sorting a group
   var computeScore = function(group) {
     var score = 0;
     var topics = group.topics;
     if (topics.contains("gay") || topics.contains("lgbt")) {
       score += 10;
     }
     if (topics.contains("hiking") || topics.contains("outdoor")) {
       score += 5;
     }

     if (topics.contains("board") && topics.contains("game")) {
       score += 2;
     }
     return score;
   };
   sorted.sort(function(a, b) {
     aScore = computeScore(a);
     bScore = computeScore(b);
     return aScore - bScore;

   });
   return sorted;
  }
});

var UpcomingWeek = React.createClass({

  render: function() {

    var groupById = {};
    for (var i = 0; i < this.props.groups.length; i++) {
      groupById[this.props.groups[i].id + ""] = this.props.groups[i];
    }

    var sortedEvs = [];
    this.props.events.forEach(function(el) {
      sortedEvs.push(el);
    });
    // sort based on time
    sortedEvs.sort(function(a, b) {
      return Number(a.time) - Number(b.time);
    });
    var els = [];

    var prevDay = new Date();
    sortedEvs.forEach(function(ev) {
      var evDate = new Date(Number(ev.time));
      var tDiff = (new Date(Number(ev.time))).getTime() - (new Date()).getTime();
      dateDiff = tDiff / (1000  * 60 * 60 * 24);
      // upcoming week as well as following weekend
      if (dateDiff < 7 ||
          (dateDiff < 14 && (evDate.getDay() === 0 || evDate.getDay() === 6)))
      {
        if (prevDay.getDay() !== evDate.getDay()) {
          var dayStr = evDate.toString("ddd MMM d");
          els.push(<span className="dayHeader"><br/>{dayStr}<br/></span>);
        }
        var group = groupById[ev.groupId + ""];
        var evEl = <EventElement
                    event={ev}
                    dateFormat=" htt "
                    includeGroup={true}
                    group={group}/>;
        els.push(evEl);
        prevDay = evDate; 
      }
    });

    return <div>
      <span id="upcomingTitle">Upcoming by date</span><br/>
      <ul> {els} </ul>;
    </div>;

  }

});


React.renderComponent(
  <MeetupGroupsAndEvents groups={groups} events={events} />,
  document.getElementById("groupsDiv"));
React.renderComponent(
  <UpcomingWeek groups={groups} events={events} />,
  document.getElementById("upcoming"));
</script>
</head>
<body>

<h2>Events</h2>
<div id="upcoming"></div>
<br/><br/>
<h2>Groups</h2>
<div id="groupsDiv"></div>
<h2>Add Meetup Groups</h2>
<form action="followGroups" method="POST">
  <ul>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
    <li><input type="text" name="meetupgroup"/></li>
  </ul>
<br/>
Remove a group?:<br/>
  <input type="text" name="removegroup"/><br/>
  {% csrf_token %}
  <input type="Submit" value="Submit"/>
</form>

<br/><br/>
Refreshes at 0:30 UTC(5:30pm in summer), and 16:00 UTC(9am in summer)<br/><br/><br/>
</body>
</html>

